{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="col-sm-6 col-md-4 col-lg-3 text-center" style="display:table;background-image: url({{ url_for('static', filename='images/noimage.png') }}); background-size: 140px 140px; height: 140px; width: 140px; ">
        <div style="vertical-align: middle; display:table-cell;">
            Example of a DIV element with a background image:
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 category-tile text-center " data-toggle="modal" style="display:table;background-image: url({{ url_for('static', filename='images/noimage.png') }}); background-size: 140px 140px; height: 140px; width: 140px; ">
        <div style="vertical-align: middle; height:3em; display:table-cell;">
             <div class="thumbnail">
                 <div style="background-color: rgba(0, 0, 0, 0.3);">Small </div>
             </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3 category-tile text-center img-rounded" data-toggle="modal" style="display:table; background-size: 140px 140px; height: 140px; width: 140px; ">
        <div style="vertical-align: middle; height:3em; display:table-cell;">
             <div class="thumbnail">
                 <div style="background-color: rgba(0, 0, 0, 0.3);">Small </div>
             </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3  category-tile text-center " style="height: 210px; width: 170px; ">
        <h4> category_title very long </h4>
        <img src="{{ url_for('static', filename='images/noimage.png') }}" width="140" height="140" class="img-circle">

    </div>
    <div class="col-sm-6 col-md-4 col-lg-3  category-tile text-center img-rounded" style="height: 100%; width: 170px; ">
        <strong> category_title_very long  please</strong>
        <img src="{{ url_for('static', filename='images/noimage.png') }}" width="140" class="img-circle">
        <br>
    </div>
</div>

{% endblock %}