{% extends "base.html" %}

{% block content %}
<div class="container-fluid" style="margin: auto; width: 80%;">
    <div class="col-sm-6 col-md-4 col-lg-3  category-tile text-center img-rounded" style="height: 100%; width: 170px; ">
        <strong>Sports</strong>
        <img src="{{ url_for('static', filename='images/samples/sports.png') }}" width="140" class="img-circle">
        <br>
        <br>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3  category-tile text-center img-rounded" style="height: 100%; width: 170px; ">
        <strong>Algorithms</strong>
        <img src="{{ url_for('static', filename='images/samples/algorithm.png') }}" width="140" class="img-circle">
        <br>
        <br>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3  category-tile text-center img-rounded" style="height: 100%; width: 170px; ">
        <strong>Vehicles</strong>
        <img src="{{ url_for('static', filename='images/samples/cars.png') }}" width="140" class="img-circle">
        <br>
        <br>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3  category-tile text-center img-rounded" style="height: 100%; width: 170px; ">
        <strong> Board Games</strong>
        <img src="{{ url_for('static', filename='images/samples/baduk.png') }}" width="140" class="img-circle">
        <br>
        <br>
    </div>
    <div class="col-sm-6 col-md-4 col-lg-3  category-tile text-center img-rounded" style="height: 100%; width: 170px; ">
        <strong> Others</strong>
        <img src="{{ url_for('static', filename='images/noimage.png') }}" width="140" class="img-circle">
        <br>
        <br>
    </div>
</div>

<script type="text/javascript" charset="utf-8">
    // Animate in the movies when the page loads
    $(document).ready(function () {
      $('.category-tile').hide().first().show("fast", function showNext() {
        $(this).next("div").show("fast", showNext);
      });
    });
</script>

{% endblock %}